body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff69b4;
    margin: 0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 , h3 {
    color: #ff69b4;
}

.message {
    font-size: 1.2em;
    margin: 20px 0;
}

button , a {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #ff69b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #ff1493;
}

.hidden {
    display: none;
}

#surprise {
    margin-top: 20px;
}

#surprise img {
    width: 474px;
    height: 266px;
    margin-bottom: 15px;
}